# Backup files
*.~

# Byte-compiles / optimizied
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-wheel-metadata/

# Unit test / coverage reports
.tox/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Sphinx documentation
docs/_site/

# Ignore sublime's project (for fans)
.ropeproject/
*.sublime-project
*.sublime-workspace

# Ignore virtualenvs (who places it near)
.venv/

# Various shit from the OS itself
.DS_Store

# here are the project's ignores
holocron/example/**
!holocron/example/2014/04/20/holocron.mdown
!holocron/example/2014/04/20/logo.png
!holocron/example/about.mdown
!holocron/example/images/young_obiWan.png
!holocron/example/_config.yml
