# temp python files
*.pyc

# virtualenv
*venv/

# setuptools temp files
build/
dist/
*.egg*

# tox
.tox/

# sublime rope
.ropeproject/

# sublime project
*.sublime-project
*.sublime-workspace

# content dir
holocron/example/**
!holocron/example/2014/04/20/holocron.mdown
!holocron/example/2014/04/20/logo.png
!holocron/example/_config.yml

# os temp files
.DS_Store
