language: python

branches:
  only:
    - master

os:
  - linux
  - osx

env:
  - TOXENV=py33
  - TOXENV=py34
  - TOXENV=flake8

install:
  - pip install tox coveralls

script:
  - tox

after_success:
  - coveralls
