sudo: false
language: python

matrix:
   include:
      - python: 3.3
        env: TOXENV=py33
      - python: 3.4
        env: TOXENV=py34
      - python: 3.5
        env: TOXENV=py35
      - python: 3.6
        env: TOXENV=py36
      - env: TOXENV=docs

install:
   - pip install tox coveralls

script:
   - tox

after_success:
   - coveralls

deploy:
   - provider: pypi
     user: ikalnitsky
     password:
        secure:
           "XqusR3oOQFAKx/aGVwuIABxcS6vU1xcF/U9taCXRDwhQU3UeJVMabDhWpiHh+\
            wmE785CZBCPVdq9bqJs1p75IOihV2L3gF8LNxY9LFeMKH6AU2bZHNfpF6CuYE\
            j7a3KqmmGk0jMykAdOLqDlQHecBLEOfU7+YVdH1i1glpDLKhE="
     on:
        tags: true
        distributions: sdist

notifications:
   email: false
