include AUTHORS
include LICENSE
include README

recursive-include holocron/themes *
recursive-include holocron/example *
recursive-exclude holocron/example/_build *

recursive-include tests *
recursive-exclude tests *.pyc *.pyo
