/*!
 * Stylesheet for default Holocron theme.
 * Distributed under same license as Holocron.
 */

/* --------------------------------------------------------------------
    download and use additional fonts
   -------------------------------------------------------------------- */

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Serif Pro'), local('SourceSerifPro-Regular'), url(http://fonts.gstatic.com/s/sourceserifpro/v4/CeUM4np2c42DV49nanp55WexEcYmAZbjhZzYUOfAc5s.woff) format('woff');
}
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Serif Pro Bold'), local('SourceSerifPro-Bold'), url(http://fonts.gstatic.com/s/sourceserifpro/v4/yd5lDMt8Sva2PE17yiLarADgozsg_Bg4nze8RiJkiAA.woff) format('woff');
}

/* unfortunately, there's no italic version for source serif pro font.
 * therefore, we need to simulate this - use another font for italic.
 */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Georgia'), local('Times New Roman');
}


/* --------------------------------------------------------------------
    reset and fixes
   -------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}


/* --------------------------------------------------------------------
    general
   -------------------------------------------------------------------- */

body {
  border-top: 4px solid #0B739C;
  background-color: #FEFEFE;
  color: #3B3B3B;
  font-family: 'Source Serif Pro', Georgia, serif;
  font-size: 18px;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #005685;
}

a {
  color: #0B739C;
  text-decoration: none;
}

a:hover {
  color: #0B739C;
  text-decoration: underline;
}

header.header,
footer.footer {
  margin: 0 auto;
  max-width: 790px;
}

#content {
  margin: 0 auto;
  max-width: 720px;
}

.align-center {
  margin: 0 auto;
  display: block;
}

/* pre-defined classes for using inside markuped test */
.width200 { width: 200px; }
.width400 { width: 400px; }
.width600 { width: 600px; }

/* --------------------------------------------------------------------
    header
   -------------------------------------------------------------------- */

header.header {
  padding: 1em 0em;
  text-align: center;
}

header.header .logo {
  width: 4em;
}

header.header h1 {
  font-weight: normal;
  font-family: 'Times New Roman';
  padding: 0.5em;
}

header.header nav {
  font-family: 'Georgia', 'Times New Roman', serif;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;

  padding: 0.4em 0em;
  font-size: 0.8em;
}

header.header a {
  color: #3b3b3b;
  border-bottom: none;
  text-transform: uppercase;
  text-decoration: none;
}

header.header a:hover {
  color: #0B739C;
  transition: all 0.25s ease-in-out;
}

header.header nav a {
  margin: 0em 1em;
}

/* --------------------------------------------------------------------
    footer
   -------------------------------------------------------------------- */

footer.footer {
  border-top: 1px solid #E0E0E0;
  font-size: 0.9em;
  text-align: center;
  color: #666;
}

footer.footer p {
  margin: 0.8em 0;
}


/* --------------------------------------------------------------------
    posts / pages
   -------------------------------------------------------------------- */

#content {
  padding: 1em 0em;
}

#content header {
  margin-bottom: 1em;
}

#content header .meta {
  font-style: italic;
  margin-left: 1em;
  font-family: 'Georgia', serif;
  font-size: 0.85em;
  opacity: 0.7;
}

#content p {
  padding: 0.5em 0;
}

#content ul {
  list-style: square;
}

#content ul,
#content ol {
  margin-left: 2em;
}

#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#content h1 { font-size: 1.7em; }
#content h2 { font-size: 1.35em; }
#content h3 { font-size: 1.25em; }
#content h4 { font-size: 1.17em; }
#content h5 { font-size: 1.1em; }
#content h6 { font-size: 1em; }

#content table {
  margin: 0.5em auto;
  min-width: 500px;
  font-size: 0.9em;
  line-height: 1.6em;
  border-collapse: collapse;
}

#content table td,
#content table th {
  padding: 0.3em 0.5em;
  border: 1px solid #c0c0c0;
}

#content blockquote {
  margin: 1em;
  font-size: 0.9em;
  opacity: .9;
  font-style: italic;
}

#content blockquote p {
  padding: 0.3em 0;
  line-height: 1.4em;
}

#content blockquote p:first-child:before {
  display: inline-block;
  width: 30px;
  vertical-align: top;
  font-size: 3em;
  opacity: .3;
  content: '\201C';
  margin-right: 5px
}

#content blockquote p:not(:first-child) {
  margin-left: 35px;
}

#content pre.code,
#content .codehilite {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 0.7em 1em;
  font-size: 0.8em;
  line-height: 1.2em;
}



/* --------------------------------------------------------------------
    index pages
   -------------------------------------------------------------------- */

#content .index h2 {
  margin-left: 150px;
}

#content .index-entry time {
  width: 150px;
  float: left;
  text-align: center;
}
