{% extends "_base.j2" %}

{% block content %}

<div class="index">
{% for group in item["items"] | groupby("published.year") | sort(attribute="grouper", reverse=True) %}
  <span class="year">{{ group.grouper }}</span>

  {% for post in group.list|sort(attribute="published", reverse=True) %}
  <div class="index-entry">
    <time datetime="{{ post.published.isoformat() }}">
      {{ post.published.strftime("%b %d, %Y") }}
    </time>
    <a href="{{ post.url }}">{{ post.title | default("Untitled") }}</a>
  </div> <!-- /.index-entry -->
  {% endfor %}
{% endfor %}
</div> <!-- /.index -->
{% endblock %}
