/*!
 * Stylesheet for default Holocron theme.
 * Distributed under same license as Holocron.
 */

/* --------------------------------------------------------------------
    download and use additional fonts
   -------------------------------------------------------------------- */

@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

/* unfortunately, there's no italic version for source serif pro font.
 * therefore, we need to simulate this - use another font for italic.
 */
@font-face {
    font-family: 'Source Serif Pro';
    font-style: italic;
    font-weight: 400;
    src: local('Georgia'), local('Times New Roman');
}


/* --------------------------------------------------------------------
    reset and fixes
   -------------------------------------------------------------------- */

* {
  margin: 0;
  padding: 0;
}


/* --------------------------------------------------------------------
    general
   -------------------------------------------------------------------- */

body {
  border-top: 5px solid #2f5a8b;
  background-color: #fffffe;
  color: #2a2a2a;
  font-family: 'Source Serif Pro', Georgia, serif;
  font-size: 20px;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
  color: #2f5a8b;
  font-family: 'Times New Roman', 'Source Serif Pro', serif;
  font-weight: normal;
}

a {
  color: #0B739c;
  text-decoration: none;
}

a:hover {
  color: #2f5a8b;
  text-decoration: underline;
}

.header-wrapper, .content-wrapper, .footer-wrapper {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
}

.content-wrapper {
  padding: 0em 2em;
}

.align-center {
  margin: 0 auto;
  display: block;
}

/* --------------------------------------------------------------------
    header
   -------------------------------------------------------------------- */

header.header {
  padding: 0.5em 0em;
  text-align: center;
}

header.header .logo {
  width: 90px;
}

header.header h1 {
  font-weight: normal;
  padding-bottom: 0.5em;
}

header.header a {
  color: #3b3b3b;
  text-transform: uppercase;
  text-decoration: none;
}

header.header a:hover {
  color: #2f5a8b;
}

header.header nav {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.4em 0em;
  font-size: 0.8em;
}

header.header nav a {
  margin: 0em 0.7em;
}


/* --------------------------------------------------------------------
    footer
   -------------------------------------------------------------------- */

footer.footer {
  border-top: 1px solid #E0e0e0;
  font-size: 0.8em;
  line-height: 1.4em;
  text-align: center;
  color: #555555;
}

footer.footer p {
  margin: 0.7em 0;
}


/* --------------------------------------------------------------------
    posts / pages
   -------------------------------------------------------------------- */

#content {
  padding: 1em 0em;
}

#content header .meta {
  font-style: italic;
  color: #555555;
  font-size: 0.9em;
  line-height: 1.4em;
  padding: 0.5em 0em 0.5em 1.5em;
}

#content p {
  padding: 0.5em 0;
}

#content ul {
  list-style: square;
}

#content ul,
#content ol {
  margin-left: 2em;
}

#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#content h1 { font-size: 1.7em; }
#content h2 { font-size: 1.35em; }
#content h3 { font-size: 1.25em; }
#content h4 { font-size: 1.17em; }
#content h5 { font-size: 1.1em; }
#content h6 { font-size: 1em; }

#content table {
  margin: 0.5em auto;
  min-width: 500px;
  font-size: 0.9em;
  line-height: 1.6em;
  border-collapse: collapse;
}

#content table td,
#content table th {
  padding: 0.3em 0.5em;
  border: 1px solid #c0c0c0;
}

#content blockquote {
  margin: 1em;
  font-size: 0.9em;
  opacity: .9;
  font-style: italic;
}

#content blockquote p {
  padding: 0.3em 0;
  line-height: 1.4em;
}

#content blockquote p:first-child:before {
  display: inline-block;
  width: 30px;
  vertical-align: top;
  font-size: 3em;
  opacity: .3;
  content: '\201C';
  margin-right: 5px
}

#content blockquote p:not(:first-child) {
  margin-left: 35px;
}

#content pre.code,
#content .codehilite pre {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.7em 1em;
  font-size: 16px;
  line-height: 1.2em;
  font-family: 'Source Code Pro', monospace;
}

#content code {
  font-family: 'Source Code Pro', monospace;
}


/* --------------------------------------------------------------------
    index pages
   -------------------------------------------------------------------- */

#content .index h2 {
  margin-left: 150px;
}

#content .index-entry time {
  width: 150px;
  float: left;
  text-align: center;
}

/* --------------------------------------------------------------------
    hacks for responsive design
   -------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
  /* let's use much smaller padding for small displays */
  .header-wrapper, .footer-wrapper { padding: 0em 0.5em; }
  .content-wrapper { padding: 0em 1em; }
}


/* --------------------------------------------------------------------
    some awesome animations
   -------------------------------------------------------------------- */

/* link animation for title */
header.header h1 a:hover {
  transition: all 0.25s ease-in-out;
}

/* links animation for navigation bar */
header.header nav a {
  margin: 0em;
}
header.header nav a::before,
header.header nav a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
header.header nav a::before {
  margin-right: 0.5em;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}
header.header nav a::after {
  margin-left: 0.5em;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}
header.header nav a:hover::before,
header.header nav a:hover::after,
header.header nav a:focus::before,
header.header nav a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


/* --------------------------------------------------------------------
    pre-defined classes to be used inside markuped text
   -------------------------------------------------------------------- */

.width200 { width: 200px; }
.width400 { width: 400px; }
.width600 { width: 600px; }
