/*!
 * Stylesheet for default Holocron theme.
 * Distributed under same license as Holocron.
 */


/* --------------------------------------------------------------------
    reset and fixes
   -------------------------------------------------------------------- */

* { margin: 0; padding: 0; }


/* --------------------------------------------------------------------
    general
   -------------------------------------------------------------------- */

body {
  border-top: 5px solid #2f5a8b;
  background-color: #fefefe;
  color: #3f3f3f;
  font: 20px/32px 'PT Serif', Georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #2f5a8b;
  font-weight: normal;
}

a {
  color: #0B739c;
  text-decoration: none;
}

a:hover {
  color: #2f5a8b;
  text-decoration: underline;
}

.header-wrapper, .content-wrapper, .footer-wrapper {
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
}

.content-wrapper {
  padding: 0em 2em;
}

/* --------------------------------------------------------------------
    header
   -------------------------------------------------------------------- */

header.header {
  padding: 0.5em 0em;
  text-align: center;
}

header.header .logo {
  width: 64px;
  margin: 0px auto;
  display: block;
}

header.header .title {
  font-family: 'Times New Roman', Georgia, serif;
  font-size: 1.6em;
  line-height: 1.8em;
  display: block;
}

header.header a {
  color: #3b3b3b;
  text-transform: uppercase;
  text-decoration: none;
}

header.header a:hover {
  color: #2f5a8b;
}

header.header nav {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 0.4em 0em;
  font-size: 0.8em;
}

header.header nav a {
  margin: 0em 0.7em;
}


/* --------------------------------------------------------------------
    footer
   -------------------------------------------------------------------- */

footer.footer {
  border-top: 1px solid #e0e0e0;
  padding: 0.5em 0em 3em;
  font-size: 0.9em;
  line-height: 1.6em;
  text-align: center;
  color: #777777;
}

footer.footer p {
  margin: 0.5em 0;
}

/* --------------------------------------------------------------------
    posts / pages
   -------------------------------------------------------------------- */

#content {
  padding: 1em 0em;
  text-align: justify;
}

#content header .meta {
  color: #777777;
  font-size: 0.85em;
  line-height: 1.4em;
  padding: 0.5em 0em 0.5em 1.5em;
}

#content p {
  padding: 0.3em 0;
}

#content p:first-of-type {
  padding-top: 0em;
}


#content ul {
  list-style: square;
}

#content ul,
#content ol {
  margin-left: 2em;
}

#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

#content h1 { font-size: 1.7em; }
#content h2 { font-size: 1.35em; }
#content h3 { font-size: 1.25em; }
#content h4 { font-size: 1.17em; }
#content h5 { font-size: 1.1em; }
#content h6 { font-size: 1em; }

#content table {
  margin: 0.5em auto;
  min-width: 500px;
  font-size: 0.9em;
  line-height: 1.6em;
  border-collapse: collapse;
}

#content table td,
#content table th {
  padding: 0.3em 0.5em;
  border: 1px solid #c0c0c0;
}

#content blockquote {
  margin: 1em;
  font-size: 0.9em;
  opacity: .9;
  font-style: italic;
}

#content blockquote p {
  padding: 0.3em 0;
  line-height: 1.4em;
}

#content blockquote p:first-child:before {
  display: inline-block;
  width: 30px;
  vertical-align: top;
  font-size: 3em;
  opacity: .3;
  content: '\201C';
  margin-right: 5px
}

#content blockquote p:not(:first-child) {
  margin-left: 35px;
}

#content pre.code,
#content .codehilite pre {
  margin: 0.5em auto;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background: #fcfcfc;
  padding: 0.7em 1em;
  font-size: 17px;
  line-height: 1.2em;
  font-family: 'Ubuntu Mono', 'PT Mono', 'Droid Sans Mono', monospace;
}

#content code {
  background: #f8f8f8;
  font-family: 'Ubuntu Mono', 'PT Mono', 'Droid Sans Mono', monospace;
}


/* --------------------------------------------------------------------
    index pages
   -------------------------------------------------------------------- */

#content .index h2 {
  margin-left: 150px;
}

#content .index-entry time {
  width: 150px;
  float: left;
  text-align: center;
}


/* --------------------------------------------------------------------
    github banner
   -------------------------------------------------------------------- */

.ribbon-wrapper {
  font-size: 14px;
  width: 18em;
  height: 18em;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}
.ribbon {
  color: #2f5a8b;
  border: 1px dashed #2f5a8b;
  background-color: #f0f0f8;
  text-decoration: none;
  white-space: nowrap;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  /* math magic for positioning :) */
  display: block;
  position: relative;
  top: 4em;
  right: -2em;
  width: 100%;
  padding: 0.4em 1em;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.ribbon:hover {
  background-color: #e8e8f8;
  text-decoration: none;
}


/* --------------------------------------------------------------------
    hacks for responsive design
   -------------------------------------------------------------------- */

@media screen and (max-width: 800px) {
  /* let's use much smaller padding for small displays */
  .header-wrapper, .footer-wrapper { padding: 0em 0.5em; }
  .content-wrapper { padding: 0em 1em; }

  /* do not show github banner */
  .ribbon { display: none; }
}


/* --------------------------------------------------------------------
    some awesome animations
   -------------------------------------------------------------------- */

/* link animation for title */
header.header a.title:hover {
  transition: all 0.25s ease-in-out;
}

/* links animation for navigation bar */
header.header nav a {
  margin: 0em;
}
header.header nav a::before,
header.header nav a::after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
header.header nav a::before {
  margin-right: 0.5em;
  content: '[';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}
header.header nav a::after {
  margin-left: 0.5em;
  content: ']';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}
header.header nav a:hover::before,
header.header nav a:hover::after,
header.header nav a:focus::before,
header.header nav a:focus::after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}


/* --------------------------------------------------------------------
    pre-defined classes to be used inside markuped text
   -------------------------------------------------------------------- */

.width200 { width: 200px; }
.width400 { width: 400px; }
.width600 { width: 600px; }
.align-center { margin: 0 auto; display: block; }
