{#-
    holocron/theme/templates/_base.js
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Base template for Holocron's default theme.

    :copyright: (c) 2014 by the Holocron Team, see AUTHORS for details.
    :license: 3-clause BSD, see LICENSE for details.
-#}

<!doctype html>
<head>
{% block head -%}
  <meta charset="{{ encoding }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <link rel="stylesheet" type="text/css" href="/static/pygments.css">

  {% if feedurl -%}
  <link rel="alternate" type="application/atom+xml" href="{{ feedurl }}" title="{{ site.title }}">
  {%- endif %}

  <title>{% block title %}{{ site.title }}{% endblock %}</title>
{%- endblock %}

<body>

  <div class="header-wrapper">
  <header class="header">
    <img src="/static/logo.svg" alt="Logotype" class="logo">
    <a href="/" class="title">{{ site.title }}</a>

    <nav>
      {% for name, url in theme.get('navigation', []) -%}
      <a href="{{ url }}">{{ name }}</a>
      {%- endfor %}
    </nav>
  </header>
  </div> <!-- /.header-wrapper -->

  <div class="content-wrapper">
  <div id="content">
    {% block content %}
    {% endblock %}
  </div> <!-- /#content -->
  </div> <!-- /.content-wrapper -->

  <div class="footer-wrapper">
  <footer class="footer">
    <p>{{ theme.copyright }}</p>
  </footer>
  </div> <!-- /.footer-wrapper -->

  {% if theme.ribbon %}
  <a href="{{ theme.ribbon.link }}" class="ribbon">{{ theme.ribbon.text }}</a>
  {% endif %}

{% include '_counters.j2' %}
