{#-
    holocron/theme/templates/index.j2
    ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

    Template for rendering Holocron index pages.

    :copyright: (c) 2014 by the Holocron Team, see AUTHORS for details.
    :license: 3-clause BSD, see LICENSE for details.
-#}

{% extends '_base.j2' %}


{% block content %}

{#- Prints all posts grouped by year. -#}
<div class="index">
{% for group in posts|groupby('published.year')|sort(attribute='grouper', reverse=True) %}
  <span class="year">{{ group.grouper }}</span>

  {% for post in group.list|sort(attribute='published', reverse=True) %}
  <div class="index-entry">
    <time datetime="{{ post.published.isoformat() }}">
      {{ post.published.strftime('%b %d, %Y') }}
    </time>
    <a href="{{ post.url }}">{{ post.title | default('Untitled') }}</a>
  </div> <!-- /.index-entry -->
  {% endfor %}
{% endfor %}
</div> <!-- /.index -->
{% endblock %}
