{% extends '_base.j2' %}

{% if document.summary %}
  {% set summary = document.summary.replace('\n', ' ').strip() %}
{% endif %}

{% block head -%}
  {{ super() }}

  {% if document.author -%}
  <meta name="author" content="{{ document.author }}">
  {% endif %}

  {%- if document.summary -%}
  <meta name="description" content="{{ summary }}">
  {%- endif %}

  {% if metadata | jsonpointer('/theme/twitter_cards/username', None) and document.summary -%}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ metadata.theme.twitter_cards.username }}">
  <meta name="twitter:title" content="{{ document.title }}">
  <meta name="twitter:description" content="{{ summary }}">
  {% endif %}

{%- endblock %}

{% block title -%}
  {{ document.title | default('Untitled') }}
{%- endblock %}


{% block content %}
<article>
  <header>
    <h1>{{ document.title | default('Untitled') }}</h1>

    <div class="meta">
    {% block article_meta %}
    {% endblock %}
    </div>
  </header>

  {{ document.content }}

  <footer>
  {% block article_footer %}
  {% endblock %}
  </footer>
</article>
{% endblock %}
