name: CD

on:
  push:
    tags:
      - '[1-9]+.[0-9]+.[0-9]+*'

jobs:
  pypi:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Install dependencies
        run: |
          pipx install hatch

      - name: Build
        run: |
          hatch build

      - name: Publish to PyPI
        run: |
          hatch publish --user __token__ --auth ${{ secrets.PYPI_TOKEN }}
